 body{
  background-color: #d9eaec;
}

hr{
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: dotted;
  border-width: 5px;
  width: 10%;

}
img{
  width: 200px;
 border-radius: 50%;

}
h3{
  color:#66BFBF;
}
h2
{
  color:#66BFBF;
}

h1{
  color:#66BFBF;
}
